### Connect to the database

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

DATABASE_URL = "postgresql://postgres:Halloween@localhost:5432/Vehicle Data"

try:
    # Create the engine
    engine = create_engine(DATABASE_URL, connect_args={"connect_timeout": 10, "sslmode": "prefer"})
    print("Connection successful!")

    # Execute a query
    with engine.connect() as connection:
        result = connection.execute(text("SELECT * FROM listings;"))
        rows = result.fetchall()  # Fetch all rows returned by the query
        columns = result.keys()
except Exception as e:
    print(f"Error: {e}")

Connection successful!

In [5]:
# Accessing the listings table
df = pd.read_sql_query("SELECT * FROM listings;", DATABASE_URL)
df.tail()

,make,model,price,city,state,year,mileage,transmission,color,previous_ownership,URL
6756,Toyota,Land Cruiser Prado,3200000.0,Nairobi,Muthaiga,2010.0,155000.0,Automatic,None,Local Used,https://jiji.co.ke/muthaiga/cars/toyota-land-c...
6757,Ford,Escape,3200000.0,Mombasa,Mombasa CBD,2016.0,25000.0,Automatic,None,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/ford-escap...
6758,Toyota,HiAce,3200000.0,Mombasa,Mombasa CBD,2018.0,NaN,Automatic,Black,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/toyota-hia...
6759,Volvo,XC60,3200000.0,Nairobi,Kilimani,2017.0,NaN,Automatic,White,Foreign Used,https://jiji.co.ke/kilimani/cars/volvo-xc60-20...
6760,Mazda,CX-5,3200000.0,Mombasa,Mombasa CBD,2019.0,90133.0,Automatic,White,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mazda-cx-5...

### Data Analysis

##### What are the average selling prices for different car brands and models in Kenya?

In [6]:
df = pd.read_sql_query("SELECT "Make", AVG("price") AV_Price
                        FROM listings
                        GROUP BY 1
                        ORDER BY 2;", DATABASE_URL)
df.tail()

SyntaxError: unterminated string literal (detected at line 1) (1292140228.py, line 1)