In [1]:
import numpy as np 
import pandas as pd

### Merging csv files

In [2]:
# Merging the dataframes
df1 = pd.read_csv('scraped_data/car_listings1.csv')
df2 = pd.read_csv('scraped_data/car_listings2.csv')
df3 = pd.read_csv('scraped_data/car_listings3.csv')
df4 = pd.read_csv('scraped_data/car_listings4.csv')
df5 = pd.read_csv('scraped_data/car_listings5.csv')
df6 = pd.read_csv('scraped_data/car_listings6.csv')
df7 = pd.read_csv('scraped_data/car_listings7.csv')
df8 = pd.read_csv('scraped_data/car_listings8.csv')
df9 = pd.read_csv('scraped_data/car_listings9.csv')
df10 = pd.read_csv('scraped_data/car_listings10.csv')
df11 = pd.read_csv('scraped_data/car_listings11.csv')
df12 = pd.read_csv('scraped_data/car_listings12.csv')
df13 = pd.read_csv('scraped_data/car_listings13.csv')
df14 = pd.read_csv('scraped_data/car_listings14.csv')
df15 = pd.read_csv('scraped_data/car_listings15.csv')
df16 = pd.read_csv('scraped_data/car_listings16.csv')
df17 = pd.read_csv('scraped_data/car_listings17.csv')
df18 = pd.read_csv('scraped_data/car_listings18.csv')
df19 = pd.read_csv('scraped_data/car_listings19.csv')
df20 = pd.read_csv('scraped_data/car_listings20.csv')
df21 = pd.read_csv('scraped_data/car_listings21.csv')
df22 = pd.read_csv('scraped_data/car_listings22.csv')
df23 = pd.read_csv('scraped_data/car_listings23.csv')
df24 = pd.read_csv('scraped_data/car_listings24.csv')
df25 = pd.read_csv('scraped_data/car_listings25.csv')
df26 = pd.read_csv('scraped_data/car_listings26.csv')
df27 = pd.read_csv('scraped_data/car_listings27.csv')
df28 = pd.read_csv('scraped_data/car_listings28.csv')
df29 = pd.read_csv('scraped_data/car_listings29.csv')
df30 = pd.read_csv('scraped_data/car_listings30.csv')
df31 = pd.read_csv('scraped_data/car_listings31.csv')
df32 = pd.read_csv('scraped_data/car_listings32.csv')
df33 = pd.read_csv('scraped_data/car_listings33.csv')
df34 = pd.read_csv('scraped_data/car_listings34.csv')
df35 = pd.read_csv('scraped_data/car_listings35.csv')
df36 = pd.read_csv('scraped_data/car_listings36.csv')
df37 = pd.read_csv('scraped_data/car_listings37.csv')
df38 = pd.read_csv('scraped_data/car_listings38.csv')
df39 = pd.read_csv('scraped_data/car_listings39.csv')
df40 = pd.read_csv('scraped_data/car_listings40.csv')
df41 = pd.read_csv('scraped_data/car_listings41.csv')
df42 = pd.read_csv('scraped_data/car_listings42.csv')
df43 = pd.read_csv('scraped_data/car_listings43.csv')
df44 = pd.read_csv('scraped_data/car_listings44.csv')



merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, 
                    df9, df10, df11, df12, df13, df14, df15,
                    df16, df17, df18, df19, df20, df21, df22, 
                    df23, df24, df25, df26, df27, df28, df29,
                    df30, df31, df32, df33, df34, df35, df36,
                    df37, df38, df39, df40, df41, df42, df43,
                    df44], ignore_index=True)
merged_df.tail()

,Make,Model,Price,Location,Year,Mileage,Transmission,Color,Previous Ownership,URL
16025,Toyota,Passo,"KSh 715,000","Nairobi, Komarock, 3 hours ago",2015.0,93000 km,Automatic,Pink,Local Used,https://jiji.co.ke/komarock/cars/toyota-passo-...
16026,Mazda,Demio,"KSh 715,000","Nairobi, Kileleshwa, 33 min ago",2014.0,127000 km,Automatic,White,Local Used,https://jiji.co.ke/kileleshwa/cars/mazda-demio...
16027,Toyota,Vitz,"KSh 715,000","Nairobi, Donholm, 1 hour ago",2013.0,NaN,Automatic,Black,Local Used,https://jiji.co.ke/lower-savannah/cars/toyota-...
16028,BMW,320i,"KSh 712,500","Nairobi, Kilimani, 23 min ago",2007.0,123546 km,Automatic,Pearl,Local Used,https://jiji.co.ke/kilimani/cars/bmw-320i-2007...
16029,Suzuki,Alto,"KSh 710,000","Nairobi, Westlands, 25 min ago",2018.0,NaN,Automatic,NaN,Foreign Used,https://jiji.co.ke/westlands/cars/suzuki-alto-...

In [3]:
# Making a copy the merged_df
cars_df = merged_df.copy()
cars_df.head()

,Make,Model,Price,Location,Year,Mileage,Transmission,Color,Previous Ownership,URL
0,Mercedes-Benz,GLS-Class,"KSh 75,000,000","Nairobi, Nairobi Central, 1 hour ago",2022.0,NaN,Automatic,Silver,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...
1,Bentley,Continental,"KSh 49,000,000","Nairobi, Kilimani, 1 hour ago",2023.0,NaN,Automatic,Black,Brand New,https://jiji.co.ke/kilimani/cars/new-bentley-c...
2,Mercedes-Benz,G-Class,"KSh 45,000,000","Mombasa, Mombasa CBD, 1 hour ago",2018.0,NaN,Automatic,NaN,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mercedes-b...
3,Land Rover,Range Rover Vogue,"KSh 44,000,000","Mombasa, Mombasa CBD, 1 hour ago",2023.0,NaN,Automatic,Gray,Brand New,https://jiji.co.ke/mombasa-cbd/cars/new-land-r...
4,Mercedes-Benz,G-Class,"KSh 41,999,999","Nairobi, Nairobi Central, 1 hour ago",2018.0,55000 km,Automatic,NaN,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...

### Data Cleaning

In [4]:
# Checking the data types for every column
cars_df.dtypes

Make                   object
Model                  object
Price                  object
Location               object
Year                  float64
Mileage                object
Transmission           object
Color                  object
Previous Ownership     object
URL                    object
dtype: object

In [5]:
# Getting city's name out of the location column using strip and split functions
location_split = cars_df['Location'].str.split(',', expand=True)


cars_df['City'] = location_split[0].str.strip()
cars_df['State'] = location_split[1].str.strip()

# Reordering the columns appearance
cols = list(cars_df.columns)

# Remove 'City' and 'State' from their current position
cols.remove('City')
cols.remove('State')

# Find index of 'Location'
loc_index = cols.index('Location')

# Insert 'City' and 'State' right after 'Location'
cols.insert(loc_index + 1, 'City')
cols.insert(loc_index + 2, 'State')

# Reorder the dataframe
cars_df = cars_df[cols]

# Drop the 'Location' column
cars_df = cars_df.drop(columns='Location')

# cars_df.head()
cars_df.head()

,Make,Model,Price,City,State,Year,Mileage,Transmission,Color,Previous Ownership,URL
0,Mercedes-Benz,GLS-Class,"KSh 75,000,000",Nairobi,Nairobi Central,2022.0,NaN,Automatic,Silver,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...
1,Bentley,Continental,"KSh 49,000,000",Nairobi,Kilimani,2023.0,NaN,Automatic,Black,Brand New,https://jiji.co.ke/kilimani/cars/new-bentley-c...
2,Mercedes-Benz,G-Class,"KSh 45,000,000",Mombasa,Mombasa CBD,2018.0,NaN,Automatic,NaN,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mercedes-b...
3,Land Rover,Range Rover Vogue,"KSh 44,000,000",Mombasa,Mombasa CBD,2023.0,NaN,Automatic,Gray,Brand New,https://jiji.co.ke/mombasa-cbd/cars/new-land-r...
4,Mercedes-Benz,G-Class,"KSh 41,999,999",Nairobi,Nairobi Central,2018.0,55000 km,Automatic,NaN,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...

In [6]:
# Remove currency symbol, commas and convert columns to integer
cars_df['Price'] = cars_df['Price'].str.replace(r"[^\d]", "", regex=True)
cars_df['Price'] = pd.to_numeric(cars_df['Price'], errors='coerce')
cars_df['Price'].head()

0    75000000.0
1    49000000.0
2    45000000.0
3    44000000.0
4    41999999.0
Name: Price, dtype: float64

In [7]:
# Remove the km symbol and convert columns to integer
cars_df['Mileage'] = cars_df['Mileage'].str.replace(r"[^\d]", "", regex=True)
cars_df['Mileage'] = pd.to_numeric(cars_df['Mileage'], errors='coerce')
cars_df['Mileage'].head()

0        NaN
1        NaN
2        NaN
3        NaN
4    55000.0
Name: Mileage, dtype: float64

In [8]:
cars_df.dtypes

Make                   object
Model                  object
Price                 float64
City                   object
State                  object
Year                  float64
Mileage               float64
Transmission           object
Color                  object
Previous Ownership     object
URL                    object
dtype: object

In [9]:
# Remove duplicates
print('Initial row count: ', len(cars_df))
cars_df = cars_df.drop_duplicates()
print('New row count: ', len(cars_df))

Initial row count:  16030
New row count:  16030

In [10]:
# Clean column names to be lowercase, and remove other characters
cars_df.columns = (
    cars_df.columns
    .str.strip()
    .str.lower()             
    .str.replace(' ', '_')     
    .str.replace(r'[^\w_]', '')
    )

In [11]:
cars_df.head()

,make,model,price,city,state,year,mileage,transmission,color,previous_ownership,url
0,Mercedes-Benz,GLS-Class,75000000.0,Nairobi,Nairobi Central,2022.0,NaN,Automatic,Silver,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...
1,Bentley,Continental,49000000.0,Nairobi,Kilimani,2023.0,NaN,Automatic,Black,Brand New,https://jiji.co.ke/kilimani/cars/new-bentley-c...
2,Mercedes-Benz,G-Class,45000000.0,Mombasa,Mombasa CBD,2018.0,NaN,Automatic,NaN,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mercedes-b...
3,Land Rover,Range Rover Vogue,44000000.0,Mombasa,Mombasa CBD,2023.0,NaN,Automatic,Gray,Brand New,https://jiji.co.ke/mombasa-cbd/cars/new-land-r...
4,Mercedes-Benz,G-Class,41999999.0,Nairobi,Nairobi Central,2018.0,55000.0,Automatic,NaN,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...

### Save the dataframe into a csv file

In [12]:
# Save the dataframe into a csv file
cars_df.to_csv('vehicle_listings.csv', index=False)

### Load data to the database

In [13]:
#Import library
from sqlalchemy import create_engine

In [14]:
# Create SQLAlchemy engine
engine = create_engine(f'postgresql+psycopg2://postgres:Halloween@localhost:5432/Vehicle Data')

# Write to PostgreSQL
table_name = 'listings'
cars_df.to_sql(table_name, engine, index=False, if_exists='replace')

30