In [1]:
import numpy as np 
import pandas as pd

### Merging csv files

In [ ]:
# Merging the dataframes
df1 = pd.read_csv('scraped_data/car_listings1.csv')
df2 = pd.read_csv('scraped_data/car_listings2.csv')
df3 = pd.read_csv('scraped_data/car_listings3.csv')
df4 = pd.read_csv('scraped_data/car_listings4.csv')
df5 = pd.read_csv('scraped_data/car_listings5.csv')
df6 = pd.read_csv('scraped_data/car_listings6.csv')
df7 = pd.read_csv('scraped_data/car_listings7.csv')
df8 = pd.read_csv('scraped_data/car_listings8.csv')
df9 = pd.read_csv('scraped_data/car_listings9.csv')
df10 = pd.read_csv('scraped_data/car_listings10.csv')
df11 = pd.read_csv('scraped_data/car_listings11.csv')
df12 = pd.read_csv('scraped_data/car_listings12.csv')
df13 = pd.read_csv('scraped_data/car_listings13.csv')
df14 = pd.read_csv('scraped_data/car_listings14.csv')
df15 = pd.read_csv('scraped_data/car_listings15.csv')
df16 = pd.read_csv('scraped_data/car_listings16.csv')
df17 = pd.read_csv('scraped_data/car_listings17.csv')
df18 = pd.read_csv('scraped_data/car_listings18.csv')
df19 = pd.read_csv('scraped_data/car_listings19.csv')
df20 = pd.read_csv('scraped_data/car_listings20.csv')
df21 = pd.read_csv('scraped_data/car_listings21.csv')


merged_df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15], ignore_index=True)
merged_df.tail()

,Make,Model,Price,Location,Year,Mileage,Transmission,Color,Previous Ownership,URL
6756,Toyota,Land Cruiser Prado,"KSh 3,200,000","Nairobi, Muthaiga, 49 min ago",2010.0,155000 km,Automatic,NaN,Local Used,https://jiji.co.ke/muthaiga/cars/toyota-land-c...
6757,Ford,Escape,"KSh 3,200,000","Mombasa, Mombasa CBD, 1 hour ago",2016.0,25000 km,Automatic,NaN,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/ford-escap...
6758,Toyota,HiAce,"KSh 3,200,000","Mombasa, Mombasa CBD, 1 hour ago",2018.0,NaN,Automatic,Black,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/toyota-hia...
6759,Volvo,XC60,"KSh 3,200,000","Nairobi, Kilimani, 4 hours ago",2017.0,NaN,Automatic,White,Foreign Used,https://jiji.co.ke/kilimani/cars/volvo-xc60-20...
6760,Mazda,CX-5,"KSh 3,200,000","Mombasa, Mombasa CBD, 4 hours ago",2019.0,90133 km,Automatic,White,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mazda-cx-5...

In [3]:
# Making a copy the merged_df
cars_df = merged_df.copy()
cars_df.head()

,Make,Model,Price,Location,Year,Mileage,Transmission,Color,Previous Ownership,URL
0,Mercedes-Benz,GLS-Class,"KSh 75,000,000","Nairobi, Nairobi Central, 1 hour ago",2022.0,NaN,Automatic,Silver,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...
1,Bentley,Continental,"KSh 49,000,000","Nairobi, Kilimani, 1 hour ago",2023.0,NaN,Automatic,Black,Brand New,https://jiji.co.ke/kilimani/cars/new-bentley-c...
2,Mercedes-Benz,G-Class,"KSh 45,000,000","Mombasa, Mombasa CBD, 1 hour ago",2018.0,NaN,Automatic,NaN,Foreign Used,https://jiji.co.ke/mombasa-cbd/cars/mercedes-b...
3,Land Rover,Range Rover Vogue,"KSh 44,000,000","Mombasa, Mombasa CBD, 1 hour ago",2023.0,NaN,Automatic,Gray,Brand New,https://jiji.co.ke/mombasa-cbd/cars/new-land-r...
4,Mercedes-Benz,G-Class,"KSh 41,999,999","Nairobi, Nairobi Central, 1 hour ago",2018.0,55000 km,Automatic,NaN,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...

### Data Cleaning

In [4]:
# Checking the data types for every column
cars_df.dtypes

Make                   object
Model                  object
Price                  object
Location               object
Year                  float64
Mileage                object
Transmission           object
Color                  object
Previous Ownership     object
URL                    object
dtype: object

In [ ]:
# Getting city's name out of the location column using strip and split functions
location_split = cars_df['Location'].str.split(',', expand=True)


cars_df['City'] = location_split[0].str.strip()
cars_df['State'] = location_split[1].str.strip()

# Reordering the columns appearance
cols = list(cars_df.columns)

# Remove 'City' and 'State' from their current position
cols.remove('City')
cols.remove('State')

# Find index of 'Location'
loc_index = cols.index('Location')

# Insert 'City' and 'State' right after 'Location'
cols.insert(loc_index + 1, 'City')
cols.insert(loc_index + 2, 'State')

# Reorder the dataframe
cars_df = cars_df[cols]

# Drop the 'Location' column
cars_df = cars_df.drop(columns='Location')

# cars_df.head()
cars_df.head()

,Make,Model,Price,City,State,Year,Mileage,Transmission,Color,Previous Ownership,URL
0,Mercedes-Benz,GLS-Class,"KSh 75,000,000",Nairobi,Nairobi Central,2022.0,NaN,Automatic,Silver,Foreign Used,https://jiji.co.ke/nairobi-central/cars/merced...
1,Bentley,Continental,"KSh 49,000,000",Nairobi,Kilimani,2023.0,NaN,Automatic,Black,Brand New,https://jiji.co.ke/kilimani/cars/new-bentley-c...

In [ ]:
# Remove currency symbol, commas and convert columns to integer
cars_df['Price'] = cars_df['Price'].str.replace(r"[^\d]", "", regex=True)
cars_df['Price'] = pd.to_numeric(cars_df['Price'], errors='coerce')
cars_df['Price'].head()

0    75000000.0
1    49000000.0
Name: Price, dtype: float64

In [8]:
# Remove the km symbol and convert columns to integer
cars_df['Mileage'] = cars_df['Mileage'].str.replace(r"[^\d]", "", regex=True)
cars_df['Mileage'] = pd.to_numeric(cars_df['Mileage'], errors='coerce')
cars_df['Mileage'].head()

0        NaN
1        NaN
2        NaN
3        NaN
4    55000.0
Name: Mileage, dtype: float64

In [9]:
cars_df.dtypes

Make                   object
Model                  object
Price                 float64
City                   object
State                  object
Year                  float64
Mileage               float64
Transmission           object
Color                  object
Previous Ownership     object
URL                    object
dtype: object

In [10]:
# Remove duplicates
print('Initial row count: ', len(cars_df))
cars_df = cars_df.drop_duplicates()
print('New row count: ', len(cars_df))

Initial row count:  6761
New row count:  6761

### Save the dataframe into a csv file

In [11]:
# Save the dataframe into a csv file
cars_df.to_csv('vehicle_listings.csv', index=False)

### Load data to the database

In [12]:
#Import library
from sqlalchemy import create_engine

In [13]:
# Create SQLAlchemy engine
engine = create_engine(f'postgresql+psycopg2://postgres:Halloween@localhost:5432/Vehicle Data')

# Write to PostgreSQL
table_name = 'listings'
cars_df.to_sql(table_name, engine, index=False, if_exists='replace')

761